<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Welcome to the CSE 340 Service Network!</h2>
    <p>Connecting volunteers with service opportunities.</p>
</main>
<%- include('partials/footer') %>